body{
    background-color: white
}

.títulos{
    display: block;
    color: #fd0202;
    margin: 30px;
    text-align: center;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 10px;
    
}

.titulos2{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-family: Georgia;
    margin-bottom: 1px;
    width: 100%;
    margin-top: 10%;
}

.parágrafo{
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-family: Arial;
    color: black;
    margin-bottom: 1px;
}

.textos{
    display: block;
    text-align: left;
    max-width: 50%;
    font-size: 22px;
    margin: 0;
    font-family: Arial;
    color: black;
    margin-bottom: 10px;
    max-width: 100%;
    margin-left: 80px;
}

.fotodeperfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

.spiderman{
    display: block;
    justify-content: right;
    width: 500px; 
    height: auto;
    border-radius: 10px;
    max-width: 100%;
    
}

.container-texto-imagem{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 300px;
}

.container-redes-sociais img{
    display: block;
    align-items: center;
    justify-content: center;
}
    
.insta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-left: 890px;
}

.git{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    margin-left: 905px;
}